/* here you can put your own css to customize and override the theme */
*{
	font-family: 'Roboto', sans-serif;
}
.f11{
    font-size: 11px;
}

.f12{
	font-size: 12px;
}
.f13{
    font-size: 13px;
}

.f14{
	font-size: 14px;
}

.f16{
	font-size: 16px;
}

.f18{
	font-size: 18px;
}
.f20{
    font-size: 20px;
}

.f24{
	font-size: 24px;
}

.color-light{
    color: #999;
}
.absolute{

    position: absolute;
    top: 7px;
    left: 3px;

}

.fixed{
  position: fixed;  
}


.message{
    background-size: 40px 40px;
   /* background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                        transparent 75%, transparent);*/                                      
     box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
     bottom: -60px;
     max-width: 20%;
     width: 20%;
     border: 1px solid;
     color: #fff;
     border-bottom-left-radius: 5px;
     border-top-left-radius: 5px;
     padding: 15px;
     right: 0;
     position: fixed;
     _position: relative;
     
     display: none;
     text-shadow: 0 1px 0 rgba(0,0,0,.5);
     animation: animate-bg 5s linear infinite;
}

.info{
     background-color: #4ea5cd;
     
}

.error{
     background-color: #de4343;
     
}
     
.warning{
     background-color: #eaaf51;
     
}

.success{
     background-color: #61b832;
    
}

.message h3{
     margin: 0 0 5px 0;                                                  
}

.message p{
     margin: 0;                                                  
}

/*@keyframes animate-bg {
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}
*/


.arrow-s{
    position: absolute;
    left: 156px;
    top: 20px;
    color: #999;
    

}

.hidden{
    display: block;
}
#user_name{

  text-transform: uppercase;
}

#user_name_acc{

  text-transform: uppercase;
}

.border-left{
    border-left: 1.8px solid #ecf0f1;
    border-radius: 0;
}

.border-right{
    border-right: 1.8px solid #ecf0f1;
    border-radius: 0;

}

.border-left-2{
    border-left: 2px solid #999;
    border-radius: 0;
}

.border-right-2{
    border-right: 2px solid #999;
    border-radius: 0;
}

.border-bottom-2{
    border-bottom: 1.8px solid #ecf0f1;
    border-radius: 0;
    margin-top: -25px;
    margin-right: -20px;
    margin-left: -20px;
    border-width: 100%;
}

.border-bottom-4{
    border-bottom: 1.8px solid #ecf0f1;
    border-radius: 0;
    margin-top: -25px;
    margin-bottom: 20px;
    border-width: 80%;
}



.height-100{
    height: 100%;
    max-height: 100%;
}
.portlet{
    height: 100%;
    max-height: 100%;
}

.btn-link{
   border:none; 
   text-decoration: none;
   color: #bdc3c7;
}

.btn-link:hover{
    color: #3498db;
}
.pagaiante .pager{
    font-size: 12px;
}

#dropdown-menu{
    margin-top: 35px;
    margin-left: -70px;
    text-align: left;
}




.box-scroll{
  
    height: 400px;
    max-height: 400px;
    overflow: scroll;
  /*  margin-bottom: -15px;*/
    border:none;
}

.box-scroll-2{
    width: 100%;
    height: 320px;
    max-height: 320px;
    overflow: scroll;
  /*  margin-bottom: -15px;*/
    border:none;
    padding: 0;
    margin: 0;
}

/* Scrollbar styles */
::-webkit-scrollbar {
width: 7px;
height: 7px;
}

::-webkit-scrollbar-track {
background: #ffffff;
border-radius: 5px;
}

::-webkit-scrollbar-thumb {
border-radius: 5px;
background: #E3F2FD;  
}

::-webkit-scrollbar-thumb:hover {
background: #90CAF9;  
}

.search{
    border-radius: 20px;
    max-height: 30px;
    height: 30px;
    width: 30px;
}
.ico i{
    margin-top: 9px;
    cursor: pointer;
}
.show-user{
    max-width: 11.5%;
    width: 11.5%;
    height: 30px;
    right: 0;
    margin-right: 30px;
    position: absolute;
    margin-top: -30px;
    border-radius: 50px;
    color: #999;
}
.page-breadcrumb-deactive{
   opacity: 0.6; 
}
.page-breadcrumb-deactive a{

   text-decoration: none; 
}
.page-breadcrumb-deactive:hover{
   opacity: 1;

}

.add-member{
    max-height: 40%;
    height: 40%;
}

.line{
    margin-top: 5px;
    margin-bottom: 10px;
    margin: 0;
    padding: 0;
    width: 100%
    height:1.8px;
-
}

.chart-peace{
    width: 30px;
    height: 30px;
    border-radius: 100px;
    border:4px solid #4FC3F7;
    text-align: center;
    line-height: 20px;
    color:#e74c3c;
    font-weight: bolder;
}
.plus{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background: #e74c3c;
    margin-top: -5px;
    margin-left: 18px;
    color: #FFF;
    font-size: 10px;
    text-align: center;
    line-height: 18px;
}
.plus i{
    margin-top: -10px;
    margin-left: 1px;

}

.table-assign-display{
    font-size: 5px;
    color: #34495e;
}
.table-assign-display table{
    border:none;
}
.table-assign-display table tr td{
  font-size: 12px; 
  border:none; 
}

.btn-close-assign, .btn-close-edit{
    position: absolute;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-top: -18px;
    padding: 0;
}
.input-group-addon{
  background-color: #FFFFFF;
}
.ui-user{
    position: absolute;
    margin-left: -40px;
    margin-top: -55px;
    width: 100px;
    height: 30px;
    background-color: #ffffff;
    border:1px solid #ecf0f1;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 1000;
    box-shadow: 1px 2px 5px  #ecf0f1;
    line-height: 30px;
}
.polyon{
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-top-left-radius: 150px;
    margin-left: 43px;
    margin-top: -7px;
    /* Safari */
    -webkit-transform: rotate(45deg);

    /* Firefox */
    -moz-transform: rotate(45deg);

    /* IE */
    -ms-transform: rotate(45deg);

    /* Opera */
    -o-transform: rotate(45deg);
    box-sizing: border-box;

}

input[type=checkbox] {
    -webkit-appearance: none;
    appearance: none;
    margin-top: 0px;
    content: " ";
}


input[type=checkbox]:after{
    -webkit-appearance: none;
    appearance: none;
    width: 16px; /*Desired width*/
    height: 16px; /*Desired height*/
    cursor: pointer;
    border: 1px solid #bdc3c7;
    border-radius: 3px;
    background-color: #FFFFFF;
    display: inline-block;
    box-sizing: content-box;
    margin-top: 0px;
    margin-left: 0px;
    font-size: 17px;
     content: " ";
}



input[type="checkbox"]:checked:after {
    /*background-color: #2ecc71;*/
    content: "\002714";
    border-radius: 3px;
    border: none;
    margin-top: -3px;
    /*box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);*/
    color: #2ecc71;
    cursor: pointer;
    
}

input[type="checkbox"]:focus {
    outline: 0 none;
    border-radius: 3px;
    box-shadow: none;
}
.table-hover-assign{
    display: inline-block;
}
.table-hover-assign tbody tr:hover{
    background-color: #E1F5FE;
}

.dropdown-menu-user{
    margin-top: -20px;
    width: 50%;
    max-width:50%;
}

.assign_complet{
    margin-top: 30px;
}
.spacing{
    padding: 3px;
}
.circle{
  margin-top: 0px;
  margin-left: 57px;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 90%;
  -moz-border-radius: 90%;
  border-radius: 90%;
  -khtml-border-radius: 90%;
  overflow: hidden;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  border:5px solid #4FC3F7;
  box-sizing: padding-box;

}

.circle-complet{
  margin-top: 0px;
  margin-left: 57px;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 90%;
  -moz-border-radius: 90%;
  border-radius: 90%;
  -khtml-border-radius: 90%;
  overflow: hidden;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  border:5px solid #2ecc71;
  box-sizing: padding-box;

}

.border-bottom-3{
    border-bottom: 1.8px solid #ecf0f1;
    border-radius: 0;
    border-width: 100%;
    width: 90%;
    max-width: 90%;
    margin-top: 5px;
}

.confirm-container{
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  background-color: #34495e;
  position: absolute;
  z-index: 1000;
  opacity: 0.4;
}

.confirm-delete{
  margin: 0 auto;
  background-size: 40px 40px;
   /* background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                        transparent 75%, transparent);*/                                      
     box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
     bottom: -60px;
     max-width: 20%;
     width: 20%;
     border: 1px solid;
     color: #fff;
     border-bottom-left-radius: 5px;
     border-top-left-radius: 5px;
     padding: 15px;
     right: 0;
     position: fixed;
     _position: relative;
/*     
     display: none;*/
     text-shadow: 0 1px 0 rgba(0,0,0,.5);
     animation: animate-bg 5s linear infinite;

}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.btn-link:hover{
text-decoration: none;
}

.btn-link:focus{
text-decoration: none;
}

.block-row{
  margin-bottom: 20px;
}
.border-blobk{
   border-bottom: 1.8px solid #ecf0f1; 
   padding-bottom: 20px;
}
.block-project{
  display: block;
  margin-bottom: 10px;
}
.project_image{
margin-bottom: 20px;
}
.member-block{
  margin-top: 15px;
}

/* Pagination styling */ 
.pagination { 
  display: inline-block; padding-right: 0;
  margin: 30px 0; 
  border-radius: 50px;
  font-size: 11px;
   } 

.pagination>li { display: inline-block } 
.pagination>li>a, .pagination>li>span { position: relative; float: right; padding: 5px 10px; line-height: 1.428571429; text-decoration: none; color: #333333; background-color: #fff; border: 1px solid #e4e4e4;
border-radius: 50px; } 
.pagination>li:first-child>a, .pagination>li:first-child>span { margin-right: 0; border-radius: 50px; } .pagination>li:last-child>a, .pagination>li:last-child>span { border-radius: 50px; } .pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus { color: #fff; background-color: #2ecc71; border-color: #2ecc71 } 
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus { z-index: 2; color: #fff; background-color: #2ecc71; border-color: #2ecc71; cursor: default } 
.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus { color: #777; background-color: #fff; border-color: #ddd; cursor: not-allowed } 


.pagination-lg>li>a, .pagination-lg>li>span { padding: 10px 16px; font-size: 14px } .pagination-lg>li:first-child>a, .pagination-lg>li:first-child>span { border-bottom-right-radius: 6px; border-top-right-radius: 6px } .pagination-lg>li:last-child>a, .pagination-lg>li:last-child>span { border-bottom-left-radius: 6px; border-top-left-radius: 6px } 

.pagination-sm>li>a, .pagination-sm>li>span { padding: 5px 10px; font-size: 12px; border-radius: 50px; } .pagination-sm>li:first-child>a, .pagination-sm>li:first-child>span { border-radius: 50px;} .pagination-sm>li:last-child>a, .pagination-sm>li:last-child>span { border-radius: 50px; }

.input_border_less{
  border-style: none;
  border-image: none;
  border:none;
  width: 35px;
  text-align: center;
}

.morebox{
    height: 400px;
    overflow: hidden; 
}
.btn_show_more{
  margin-top: 30px;
}
.btn_show_more:hover{
  background-color: #2ecc71;
  color: #ffffff;
  border-color: #27ae60;
}

.btn_show_less{
   margin-top: -20px;
}

.btn_show_less:hover{
 background-color: #2ecc71;
  color: #ffffff;
  border-color: #27ae60;
}

.loading{
  display: none;
  width: 100%;
  height: 100%;
  background-color: #bdc3c7;
  opacity: 0.5;
  overflow: hidden;
  position: fixed;
}

.loader {
  display: none;
  margin: 0 auto;
  margin-top: 200px;
  border: 10px solid #ecf0f1;
  border-radius: 50%;
  border-top: 10px solid #2ecc71;
  width: 90px;
  height: 90px;
  z-index: 100;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}